ssh_user             = "ec2-user"
ssh_private_key_path = "~/.ssh/id_rsa"
ssh_public_key_path  = "~/.ssh/id_rsa.pub"
ec2_home_path        = "/home/ec2-user"
db_name              = "ministore_api"
db_username          = "pguser"
github_owner         = "ricardotulio"
github_project       = "ministore-api"
github_repo          = "https://github.com/ricardotulio/ministore-api"
github_branch        = "master"
github_token         = "github_token_here"